body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-left: 20px;
    background: url(assests/img/image-bg.jpg) ;
    

}
.navbar{
    
    background-color: rgba(255, 255, 255, 0.74);

}
.nav-link{
    font-family: sans-serif;
    margin: 10px;
}
ul li {
    padding:  5px 0;
}
#search{
    justify-content: center;
}
.search-bar{
    max-width: 600px;
    padding-top: 50px;
}  
.menu-name{

    text-align: center;
}
.menu-style{
    justify-content: center;
    width: 250px;
    height: 300px;
    overflow: hidden;
}
.list-item{
    float: left;
    margin:5px;
    padding: auto;
    font-weight: 400;
   
}
#errorText{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
}
#error-text{
    display: none;
    color: crimson;
    text-align: center;
}
#meal-details img{
    object-fit: cover;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: black;
    align-items: center;
    padding-top: 10px;
}
#mealPreviewList{
    list-style-type: none;
    color: white;
    padding: 5px, 5px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
#preview-img{
    background-color: white;
    padding-top: 20px;
}
